.helvetica-light {
  font-family: 'Helvetica Light', sans-serif;
  font-weight: 300; /* Light font weight */
}

.helvetica-light.text-left {
  font-family: 'Helvetica Light', sans-serif;
  font-weight: 300; /* Light font weight */
  color: rgb(255, 255, 255);
  text-align: left !important;
  width: 100%;
  margin-top: 3%;
  font-size: 10px;
}

.container {
  line-height: 0.7;
  letter-spacing: 0.2ch;
  word-spacing: 50%;
}

.container-main {
  line-height: 0.7;
  letter-spacing: 0.4ch;
  word-spacing: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
}

.container-main p {
  line-height: 1;
  font-size: 80%;
}


/* Responsive design */
@media (max-width: 768px) {
  .container-main {
    padding: 5%;
  }

  .container-main h3 {
    line-height: 1;
  }

  .col-lg-8 {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 3em;
  }

  .container p h2 li {
    margin-left: 0.5em;
  }
}

@media (max-width: 576px) {
  .col-lg-8 {
    padding: 2rem 1rem;
  }

  h3 {
    font-size: 0.8em;
  }

  .container-main p {
    line-height: 1;
    font-size: 50%;
  }

  .container p h2 li {
    margin-left: 0.5em;
  }
}

.bold {
  line-height: 1;
  margin-top: 1%;
  font-size: 1.1em;
}

.title {
  margin-bottom: 10%;
}

h2 {
  margin-top: 5%;
}

#about {
  position: relative;
  padding-bottom: 7%;
  height: 100vh;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  top: 0;

}

.overlay {
  position: relative;
}

#contact {
  height: 95vh;
}

.us {
  padding-right: 5rem;
}
.social {
  margin-left: 3% !important;
}
