<footer style="background-color: black; margin-top: 15%;">
  <div style="color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.2);" class="container text-left">
      <p id="footer-text">Copyright ©AbelTrece 2023</p>
  </div>
</footer>
