<video autoplay muted loop>
  <source src="https://res.cloudinary.com/dubrm4blh/video/upload/v1696642219/AdeleWedding/BANNERS/Port_lift8f.mp4" type="video/mp4" />
</video>
<div class="overlay">
  <div class="container-main">
    <div class="row">
          <div class="col-lg-8 mx-auto" style="padding-right: 8rem; padding-left: 8rem; padding-top: 8em;">
              <h3><span style="color: rgb(255, 255, 255); font-size: 0.9em; font-weight: bold;">WEDDING VIDEOGRAPHY</span></h3>
              <p><br /><span style="color: rgb(255, 255, 255);">AS A DEDICATED AND PASSIONATE WEDDING VIDEOGRAPHER, MY AIM IS TO CAPTURE THE TRUE ESSENCE OF YOUR LOVE AND CREATE A STUNNING VISUAL MASTERPIECE THAT BRINGS YOUR WEDDING DAY TO LIFE. WITH A KEEN EYE FOR DETAIL, TECHNICAL EXPERTISE, AND AN ARTISTIC APPROACH, I AM COMMITTED TO DELIVERING A WEDDING VIDEO THAT SURPASSES YOUR EXPECTATIONS AND BECOMES A CHERISHED KEEPSAKE FOR YEARS TO COME. LET ME TELL YOUR UNIQUE LOVE STORY THROUGH THE MAGIC OF VIDEOGRAPHY, ENSURING THAT EVERY MOMENT IS BEAUTIFULLY PRESERVED AND CHERISHED FOREVER.</span></p>
          </div>
      </div>
  </div>
</div>
