<nav id="mainNav" class="navbar navbar-expand-md fixed-top text-uppercase text-white">
    <div class="container">
        <h1 class="navbar-brand text-white">Abeltrece</h1>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" style="color: white;"></i>
        </button>
        <div id="navbarResponsive" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link text-white" href="#contact">contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<section id="about" class="text-left content-section">
  <%= render "sections/about"%>
</section>

<section id="socials" class="text-left content-section pt-5">
  <%= render "sections/socials" %>
</section>

<section id="contact"  style="background-color: rgba(0, 0, 0, 1);"class="text-left content-section pt-5">
  <%= render "sections/contact" %>
</section>

<script>
  // Get the navbar element
  const navbar = document.querySelector('.navbar');

  // Function to toggle transparency based on scroll position
  function toggleNavbarTransparency() {
    if (window.scrollY > 0) {
      navbar.classList.add('transparent');
    } else {
      navbar.classList.remove('transparent');
    }
  }

  // Listen for the scroll event and call the toggle function
  window.addEventListener('scroll', toggleNavbarTransparency);
</script>
