<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h2>New Wedding Form Submission</h2>
  <p>Nombre: <%= @contact_submission.name %></p>
  <p>Email: <%= @contact_submission.email %></p>
  <p>Telefono: <%= @contact_submission.phone %></p>
  <p>Mensaje: <%= @contact_submission.message %></p>
</body>
</html>
