#mainNav {
  font-family: "Cabin","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #000000;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

#mainNav.transparent {
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
}
