#mainNav {
  font-family: "Cabin","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #000000;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

#mainNav.transparent {
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
}

.navbar-brand {
  margin-top: 0.5em !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    margin-top: 0.5em !important;
    margin-left: 0.5em;
  }

  .navbar-toggler {
    margin-right: 3% !important;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-top: 0.5em !important;
    margin-left: 0.5em;
  }

  .navbar-toggler {
    margin-right: 3% !important;
  }
}
